/* Tunynet CSS Framework 0.5
----------------------------------*/

/* Component containers
----------------------------------*/
.tn-widget-content, .ui-widget-content { border: 1px solid #cce0ec; background: #ffffff; }
.tn-widget-header, .ui-widget-header { border: 1px solid #cce0ec; background: url(../../Channels/Default/Pages/homestyle/Images/bg-pipe-eff5f8.png) repeat-x 0 50%; }

/* Interaction states
----------------------------------*/
.tn-state-default, .tn-widget-content .tn-state-default,
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cce0ec; background: url(Images/bg-pipe-e3ecf2.png) repeat-x 0 50%; }
.tn-state-default a, .tn-state-default a:link, .tn-state-default a:visited, .tn-state-hover a, .tn-state-hover a:hover, 
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .ui-state-hover a, .ui-state-hover a:hover { text-decoration: none; }
.tn-state-hover, .tn-widget-content .tn-state-hover, .tn-state-focus, .tn-widget-content .tn-state-focus,  
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #b7d3e3; background: url(Images/bg-pipe-d6e4ec.png) repeat-x 0 50%; }
.tn-state-active, .tn-widget-content .tn-state-active,  
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #cce0ec; background: url(Images/bg-solid-ffffff.png) repeat-x 0 50%; color: #333; }
.tn-state-active a, .tn-state-active a:link, .tn-state-active a:visited,  
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #333; text-decoration: none; }
.tn-widget:active,  .ui-widget:active { outline: none; }
.tn-state-disabled a, .tn-state-disabled a:link, .tn-state-disabled a:visited { color: #999; text-decoration: none; cursor: default; }

/* Interaction Cues
----------------------------------*/
.tn-cue-success, .tn-widget-content .tn-cue-success { border: 1px solid #aacf58; background: #f6faee; color: #333; } 
.tn-cue-highlight, .tn-widget-content .tn-cue-highlight,  
.ui-state-highlight, .ui-widget-content .ui-state-highlight { border: 1px solid #e2c822; background: #fff9d7; color: #333; }
/*.tn-cue-success a, .tn-widget-content .tn-cue-success a {  }
.tn-cue-highlight a, .tn-widget-content .tn-cue-highlight a,  
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #af9800; }*/
.tn-cue-error, .tn-widget-content .tn-cue-error,  
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #bb0500; background: #fcf2f2; color: #bb0500; }
.tn-cue-error a, .tn-widget-content .tn-cue-error a,  
.ui-state-error a, .ui-widget-content .ui-state-error a { text-decoration: underline; color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; } 
.tn-priority-primary, .tn-widget-content .tn-priority-primary,  .ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.tn-priority-secondary, .tn-widget-content .tn-priority-secondary,  .ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.tn-cue-disabled, .tn-widget-content .tn-cue-disabled,  .ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.tn-loading { background: url(Images/ajaxloading.gif) no-repeat center center; min-height: 32px; _height: 32px; }
.tn-info-remind { border: 1px solid #af0000; background: #cf0000; color: #fff; }

/* Background 
----------------------------------*/
.tn-bg-light { background: #f2f7fa; }
.tn-bg-gray { background: #f5f5f5; }
.tn-bg-deep { background: #0065a2; color: #fff; }
.tn-bg-deep a, .tn-bg-deep a:hover, a.tn-bg-deep, a.tn-bg-deep:hover { color: #fff; }
.tn-img-sprite { background-image: url(Images/tn-img-sprite.png); background-repeat: no-repeat; }
.tn-round-corner { background: url(Images/tn-ui-round-corner.png) no-repeat; }

/* Border
----------------------------------*/
.tn-border-light { border: solid #cce0ec 1px; }
.tn-border-gray { border: solid #ddd 1px; }
.tn-border-deep { border: solid #0065a2 1px; }
.tn-border-top { border-width: 1px 0 0; }
.tn-border-right { border-width: 0 1px 0 0; }
.tn-border-bottom {  border-width: 0 0 1px; }
.tn-border-left { border-width: 0 0 0 1px; }
.tn-border-tr { border-width: 1px 1px 0 0; }
.tn-border-rb { border-width: 0 1px 1px 0; }
.tn-border-bl { border-width: 0 0 1px 1px; }
.tn-border-tl { border-width: 1px 0 0 1px; }
.tn-border-tb { border-width: 1px 0; }
.tn-border-lr { border-width: 0 1px; }
.tn-border-trl { border-width: 1px 1px 0; }
.tn-border-trb { border-width: 1px 1px 1px 0; }
.tn-border-tbl { border-width: 1px 0 1px 1px; }
.tn-border-rbl { border-width: 0 1px 1px; }
.tn-border-all { border-width: 1px; }
.tn-border-none, .tn-widget .tn-border-none { border-width: 0; }

/* Text Microformat
----------------------------------*/
.tn-text-heading .tn-text-note,
.tn-text-subheading .tn-text-note { font-weight: normal; }
.tn-text-note { color: #999; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.tn-corner-tl, .ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.tn-corner-tr,  .ui-corner-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.tn-corner-bl,  .ui-corner-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.tn-corner-br,  .ui-corner-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.tn-corner-top,  .ui-corner-top { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.tn-corner-bottom,  .ui-corner-bottom { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.tn-corner-right,  .ui-corner-right {  -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.tn-corner-left,  .ui-corner-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.tn-corner-all, .ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.tn-corner-o { border-radius: 30px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(Images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .3;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(Images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .3; filter: Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/* Button
----------------------------------*/
.tn-button { border-width: 1px 0; border-style: solid; }
.tn-button .tn-first-child { border-width: 0 1px; border-style: solid; }
.tn-button-default { background: url(Images/bg-gradient-cce0ec.png) repeat-x 0 50%; border-color: #cce0ec; }
.tn-button-default .tn-first-child {  border-color: #cce0ec; }
.tn-button-default-hover { background: url(Images/bg-gradient-b2cede.png) repeat-x 0 50%; border-color: #b2cede; }
.tn-button-default-hover .tn-first-child {  border-color: #b2cede; }
.tn-button-primary { background: url(Images/bg-gradient-0065a2.png) repeat-x 0 50%; border-color: #0065A2; }
.tn-button-primary .tn-first-child {  border-color: #0065A2; }
.tn-button-primary-hover { background: url(Images/bg-gradient-014b78.png) repeat-x 0 50%; border-color: #014b78; }
.tn-button-primary-hover .tn-first-child {  border-color: #014b78; }
.tn-button-primary button.tn-button-text, 
.tn-button-primary-hover button.tn-button-text, 
.tn-button-primary a.tn-button-text,
.tn-button-primary a.tn-button-text:hover,
.tn-button-primary-hover a.tn-button-text { color: #fff; }
.tn-button-secondary { background: url(Images/bg-gradient-dddddd.png) repeat-x 0 50%; border-color: #ddd; }
.tn-button-secondary .tn-first-child {  border-color: #ddd; }
.tn-button-secondary-hover { background: url(Images/bg-gradient-cccccc.png) repeat-x 0 50%; border-color: #ccc; }
.tn-button-secondary-hover .tn-first-child {  border-color: #ccc; }
.tn-button-secondary button.tn-button-text,
.tn-button-secondary-hover button.tn-button-text, 
.tn-button-secondary a.tn-button-text,
.tn-button-secondary-hover a.tn-button-text { font-weight: normal; color: #666; }
.tn-button-secondary a, .tn-button-secondary a:hover { color: #333; }
.tn-button-lite, .tn-button-lite .tn-first-child { background-image: none; border-color: transparent; _border: none; }
.tn-button-lite a.tn-button-text:hover { text-decoration: underline; }
.tn-button-disabled { opacity: .95; filter:Alpha(Opacity=95); background: #eee; border-color: #ddd; }
.tn-button-disabled .tn-first-child { border-color: #ddd; }
.tn-button-disabled .tn-button-text { cursor: default; color: #999; }

/* Icons
----------------------------------*/
/* states and images */
.tn-icon { width: 16px; height: 16px; background-image: url(Icons/tn-icons-sprite.png); }
.tn-icon2 { width: 16px; height: 16px; background-image: url(Images/icon-home2.png); }
a.tn-icon { cursor: pointer; }
.tn-icon-big { width: 32px; height: 32px; }
/*.tn-state-default .tn-icon,
.tn-state-hover .tn-icon, 
.tn-state-focus .tn-icon,
.tn-cue-highlight .tn-icon,*/
.tn-button-primary .tn-icon { background-image: url(Icons/tn-icons-sprite-c0d8e8.png); }
.tn-state-active .tn-icon, 
.tn-search-box .tn-icon,
.tn-expand-control .tn-icon,
.tn-selected .tn-icon,
.aui_default .aui_close { background-image: url(Icons/tn-icons-sprite-999999.png); }
.tn-cue-error .tn-icon, 
.tn-state-error-text .tn-icon { background-image: url(Icons/tn-icons-sprite-cc0000.png); }
.tn-icon-inline { display: inline-block; margin: 0 2px; vertical-align: middle; }

.ui-icon { width: 16px; height: 16px; background-image: url(Images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon { background-image: url(Images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(Images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(Images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(Images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(Images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(Images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(Images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.tn-icon-triangle-down { background-position: 0px 0px; }
.tn-icon-triangle-up { background-position: -16px 0px; }
.tn-icon-triangle-right { background-position: -32px 0px; }
.tn-icon-triangle-left { background-position: -48px 0px; }
.tn-icon-collapse-open { background-position: -64px 0px; }
.tn-icon-collapse-close { background-position: -80px 0px; }
.tn-icon-download { background-position: -96px 0px; }
.tn-icon-upload { background-position: -112px 0px; }
.tn-icon-expand { background-position: -128px 0px; }
.tn-icon-fold { background-position: -144px 0px; }
.tn-icon-slide-next { background-position: -160px 0px; }
.tn-icon-slide-prev { background-position: -176px 0px; }
.tn-icon-move { background-position: -160px 0px; }
.tn-icon-write { background-position: 0px -16px; }
.tn-icon-update { background-position: -16px -16px; }
.tn-icon-set { background-position: -32px -16px; }
.tn-icon-config { background-position: -48px -16px; }
.tn-icon-add { background-position: -64px -16px; }
.tn-icon-cross { background-position: -80px -16px; }
.tn-icon-accept { background-position: -96px -16px; }
a.tn-icon-add:hover { background-position: -112px -16px; }
a.tn-icon-cross:hover { background-position: -128px -16px; }
.tn-icon-rotate-left { background-position: -144px -16px; }
.tn-icon-rotate-right { background-position: -160px -16px; }
.tn-icon-enlarge { background-position: -176px -16px; }
a.tn-icon-write:hover { background-position: -192px -16px; }
.tn-icon-arrow-rt { background-position: -208px -16px; }
.tn-icon-send { background-position: -224px -16px; }
.tn-icon-email { background-position: 0px -32px; }
.tn-icon-email-open { background-position: -16px -32px; }
.tn-icon-elite { background-position: -32px -32px; }
.tn-icon-top { background-position: -48px -32px; }
.tn-icon-flag { background-position: -64px -32px; }
.tn-icon-lock { background-position: -80px -32px; } 
.tn-icon-key { background-position: -96px -32px; } 
.tn-icon-limit { background-position: -112px -32px; }
.tn-icon-stop { background-position: -128px -32px; }
.tn-icon-coins { background-position: -144px -32px; }
.tn-icon-fire { background-position: -160px -32px; }
.tn-icon-move { background-position: -176px -32px; }
.tn-icon-view { background-position: 0px -48px; }
.tn-icon-thumb-up { background-position: -16px -48px; }
.tn-icon-thumb-down { background-position: -32px -48px; }
.tn-icon-share { background-position: -48px -48px; }
.tn-icon-bubble { background-position: -64px -48px; }
.tn-icon-favorite { background-position: -80px -48px; }
.tn-icon-star { background-position: -96px -48px; }
.tn-icon-feed { background-position: -112px -48px; }
.tn-icon-quotes-before { background-position: -128px -48px; }
.tn-icon-quotes-after { background-position: -144px -48px; }
.tn-icon-topic { background-position: -160px -48px; }
.tn-icon-user { background-position: 0px -64px; }
.tn-icon-user-add { background-position: -16px -64px; }
.tn-icon-user-allow { background-position: -32px -64px; }
.tn-icon-user-stop { background-position: -48px -64px; }
.tn-icon-user-relation { background-position: -64px -64px; }
.tn-icon-user-avatar { background-position: -80px -64px; }
.tn-icon-user-invite { background-position: -96px -64px; }
.tn-icon-user-card { background-position: -112px -64px; }
.tn-icon-user-group { background-position: -128px -64px; }
.tn-icon-chain { background-position: -144px -64px; }
.tn-icon-pen { background-position: -160px -64px; }
.tn-icon-female { background-position: -176px -64px; }
.tn-icon-male { background-position: -192px -64px; }
.tn-icon-browse-list { background-position: 0px -80px; }
.tn-icon-browse-detail { background-position: -16px -80px; }
.tn-icon-browse-medium { background-position: -32px -80px; }
.tn-icon-browse-small { background-position: -48px -80px; }
.tn-icon-browse-slide { background-position: -64px -80px; }
.tn-icon-dress { background-position: -80px -80px; }
.tn-icon-zoom { background-position: -96px -80px; }
.tn-icon-camera { background-position: -112px -80px; }
.tn-icon-calendar { background-position: -128px -80px; }
.tn-icon-color { background-position: -144px -80px; }
.tn-icon-creator { background-position: -160px -80px; }
.tn-icon-manager { background-position: -176px -80px; }
.tn-icon-alert { background-position: 0px -96px; }
.tn-icon-exclamation { background-position: -16px -96px; }
.tn-icon-cross-circle { background-position: -32px -96px; }
.tn-icon-accept-circle { background-position: -48px -96px; }
.tn-icon-apply { background-position: -64px -96px; }
.tn-icon-logout { background-position: -80px -96px; }
.tn-icon-join { background-position: -96px -96px; }
.tn-icon-quit { background-position: -112px -96px; }
.tn-icon-home { background-position: -128px -96px; }
.tn-icon-question { background-position: -144px -96px; }
.tn-icon-notice { background-position: -160px -96px; }
.tn-icon-escalator { background-position: -176px -96px; }
.tn-icon-jump { background-position: 0px -112px; }
.tn-icon-find { background-position: -16px -112px; }
.tn-icon-emotion { background-position: -32px -112px; }
.tn-icon-paper-clip { background-position: -48px -112px; }
.tn-icon-folder { background-position: -64px -112px; }
.tn-icon-movie { background-position: -80px -112px; }
.tn-icon-picture { background-position: -96px -112px; }
.tn-icon-album { background-position: -112px -112px; }
.tn-icon-world { background-position: -128px -112px; }
.tn-icon-sound { background-position: -144px -112px; }
.tn-icon-music { background-position: -160px -112px; }
.tn-icon-screen { background-position: -176px -112px; }
.tn-icon-blog { background-position: 0px -128px; }
.tn-icon-archive { background-position: -16px -128px; }
.tn-icon-event { background-position: -32px -128px; }
.tn-icon-forum { background-position: -48px -128px; }
.tn-icon-vote { background-position: -64px -128px; }
.tn-icon-news { background-position: -80px -128px; }
.tn-icon-job { background-position: -96px -128px; }
.tn-icon-app { background-position: -112px -128px; }
.tn-icon-market { background-position: -128px -128px; }
.tn-icon-answer { background-position: -144px -128px; }
.tn-icon-microblog { background-position: -160px -128px; }
.tn-icon-at { background-position: -176px -128px; }
.tn-icon-play { background-position: 0px -144px; }
.tn-icon-pause { background-position: -16px -144px; }
.tn-icon-prev { background-position: -32px -144px; }
.tn-icon-next { background-position: -48px -144px; }
.tn-icon-end { background-position: -64px -144px; }
.tn-icon-bullet { background-position: -80px -144px; }
.tn-icon-radio-off { background-position: -96px -144px; }
.tn-icon-radio-on { background-position: -112px -144px; }
.tn-icon-first { background-position: -128px -144px; }
.tn-icon-forward { background-position: -144px -144px; }
.tn-icon-back { background-position: -160px -144px; }
.tn-icon-last { background-position: -176px -144px; }
.tn-icon-eject { background-position: -80px -144px; }
.tn-icon-empty { background-position: 0 -176px; }
.tn-icon-sub-tree { background-position: -16px -176px; }
.tn-icon-forum-normal { background-position: -64px -160px; }
.tn-icon-forum-new { background-position: -96px -160px; }
.tn-icon-sync-sina { background-position: -160px -176px; }
.tn-icon-sync-qq { background-position: -176px -176px; }
.tn-icon-topic-normal { background-position: 0 -192px; }
.tn-icon-topic-new { background-position: -32px -192px; }
.tn-icon-topic-elite { background-position: -64px -192px; }
.tn-icon-topic-top { background-position: -96px -192px; }
.tn-icon-topic-lock { background-position: -128px -192px; }
.tn-icon-topic-fire { background-position: -160px -192px; }
.tn-icon-waiting { background-image: url(Images/ui-anim_basic_16x16.gif); }

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Files icon*/
.tn-mime{ background-image: url("Icons/tn-mime-files.gif"); height: 16px; width: 16px; }
/* positioning */
.tn-mime-htm,
.tn-mime-html{background-position: 0 -32px; }
.tn-mime-xml{ background-position: -16px -32px }
.tn-mime-css{ background-position: -32px -32px }
.tn-mime-js{ background-position: -48px -48px;}
.tn-mime-doc{ background-position: -64px 0; }
.tn-mime-csv{ background-position: -16px 0; }
.tn-mime-xls{ background-position: -32px 0; }
.tn-mime-ppt{ background-position: -48px 0; }
.tn-mime-docx{ background-position: -144px 0; }
.tn-mime-xlsx{ background-position: -160px 0; }
.tn-mime-pptx{ background-position:-176px 0; }
.tn-mime-rtf{ background-position: 0 0; }/**/
.tn-mime-pdf{ background-position: -80px 0; }
.tn-mime-txt{ background-position:-128px 0; }
.tn-mime-zip{ background-position:-112px 0; }
.tn-mime-rar{ background-position: -96px 0px;}
.tn-mime-gif{ background-position:-16px -16px; }
.tn-mime-bmp{ background-position:-48px -16px; }
.tn-mime-jpg,
.tn-mime-jpeg{ background-position: 0 -16px; }
.tn-mime-png{ background-position: -32px -16px; }
.tn-mime-swf{ background-position:-48px -16px; }
.tn-mime-mp3,
.tn-mime-wav,
.tn-mime-rm{ background-position: 0px -48px;}
.tn-mime-rmvb,
.tn-mime-mp4,
.tn-mime-mpg4,
.tn-mime-3gp,
.tn-mime-mpeg,
.tn-mime-mpg,
.tn-mime-mpa,
.tn-mime-mpe,
.tn-mime-wmv,
.tn-mime-wma,
.tn-mime-qt,
.tn-mime-asf,
.tn-mime-asr,
.tn-mime-asx{ background-position:-16px -48px; }
.tn-mime-flv,
.tn-mime-mov,
.tn-mime-mvi{ background-position:-32px -48px; }
.tn-mime-pps{background-position: -64px -48px;}
.tn-mime-ppsx{background-position:-80px -48px;}
.tn-mime-unknow{background-position:-64px -32px;}

/* Big files icon */
.tn-mime-big{ height: 36px; width: 36px; background-image: url("Icons/tn-mime-files.gif"); background-repeat: no-repeat; display: block; overflow: hidden; }
.tn-mime-htm-big{ background-position: -36px -128px; }
.tn-mime-html-big{ background-position: 0px -128px;  }
.tn-mime-xml-big{ background-position: -72px -128px;  }
.tn-mime-css-big{ background-position: -144px -128px;  }
.tn-mime-js-big{ background-position: -108px -128px;  }
.tn-mime-doc-big{ background-position: -144px -200px; }
.tn-mime-csv-big{ background-position: -36px -200px;  }
.tn-mime-xls-big{ background-position: -72px -200px;  }
.tn-mime-ppt-big{ background-position: -108px -200px;  }
.tn-mime-docx-big{ background-position: -144px -236px;  }
.tn-mime-xlsx-big{ background-position: -180px -236px;  }
.tn-mime-pptx-big{ background-position:-180px -200px;  }
.tn-mime-rtf-big{ background-position: 0 -200px;  }
.tn-mime-pdf-big{ background-position: 0 -272px;  }
.tn-mime-txt-big{ background-position: -108px -236px;  }
.tn-mime-zip-big{ background-position: -72px -236px;  }
.tn-mime-rar-big{ background-position: -36px -236px; }
.tn-mime-gif-big{ background-position:-36px -164px; }
.tn-mime-bmp-big{ background-position:-108px -164px; }
.tn-mime-jpg-big, 
.tn-mime-jpeg-big{ background-position: 0 -164px; }
.tn-mime-png-big{ background-position: -72px -164px; }
.tn-mime-swf-big{ background-position: 0 -272px; }
.tn-mime-mp3-big, 
.tn-mime-wav-big,
.tn-mime-rm-big { background-position: -36px -272px; }
.tn-mime-rmvb-big,
.tn-mime-mp4-big,
.tn-mime-mpg4-big,
.tn-mime-3gp-big,
.tn-mime-mpeg-big,
.tn-mime-mpg-big,
.tn-mime-mpa-big,
.tn-mime-mpe-big,
.tn-mime-wmv-big,
.tn-mime-wma-big,
.tn-mime-asf-big,
.tn-mime-asr-big,
.tn-mime-asx-big,
.tn-mime-qt-big { background-position: -72px -272px; }
.tn-mime-flv-big,
.tn-mime-mvi-big,
.tn-mime-mov-big{ background-position: -108px -272px; }
.tn-mime-pps-big{background-position: -144px -272px;}
.tn-mime-ppsx-big{background-position:-180px -272px;}
.tn-mime-unknow-big{background-position:-108px -164px;}

/* Editor Tools
----------------------------------*/
.tn-editor-tools { background: #f0f0ee; border: solid #ccc 1px; border-bottom: none; *padding-left: 10px; }
.tn-editor-tools li { float: left; padding: 5px 0; }
.tn-editor-tools a.tn-button-text { font-weight: normal; }

/* Pagination
----------------------------------*/
.tn-pagination { padding: 20px 0 10px;}
.tn-pagination .tn-page-number, .tn-pagination .tn-page-thumb { padding: 2px 5px; border-style: solid; border-width: 1px; }
.tn-pagination span { border-color: #ddd; color: #999; }
.tn-pagination a { border-color: #cce0ec; }
.tn-pagination a:hover { border-color: #0065a2; background: #f2f7fa;  text-decoration: none;}
.tn-pagination .tn-page-first, .tn-pagination .tn-page-prev { margin-right: 5px; }
.tn-pagination .tn-page-next, .tn-pagination .tn-page-last { margin-left: 5px;}
.tn-pagination span.tn-selected { border-color: #0065a2; background: #0065a2; color: #fff; font-weight: bold; }
.tn-pagination .tn-page-results { padding: 10px; }


/* Art Dialog
----------------------------------*/
.aui_default .aui_content_table { min-width:9em; background:#FFF; }
.aui_default .aui_dialog, .aui_default .aui_content_table { border:1px solid #000!important; }
.aui_default .aui_left_top, .aui_default .aui_right_top, .aui_default .aui_left_bottom, .aui_default .aui_right_bottom { width:8px; height:8px; }
.aui_default .aui_border { background:#000; filter:alpha(opacity=30); opacity:0.3; }
/*html>body .aui_default .aui_border,
html>body .aui_default .art_move .aui_border{ background:url(default/30.png)\9; }*/
.aui_default .art_focus .aui_border { filter:alpha(opacity=50); opacity:0.5; }
/*html>body .aui_default .aui_border { background:url(default/50.png)\9; }*/
.aui_default .art_move .aui_border { filter:alpha(opacity=30); opacity:0.3; }
.aui_default .art_focus .aui_content_table, .aui_default .aui_title_wrap/*, .aui_default .aui_close:hover*/ {
	/*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);*/
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	border-bottom: solid #ddd 1px\9;
}
.aui_default .art_focus .aui_bottom { -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }
.aui_default .art_move .aui_bottom { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
.aui_default .aui_title_wrap { position:relative; height:100%; }
.aui_default .aui_title {
	height: 30px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	/*background-color: #3A6EA5;
	font-weight: 700;
	color: #EBEBEB;
	border-style: solid;
	border-width: 1px;
	border-color: #4E84C0 #4780BE #0D1D3C #4780BE;
	text-shadow: 0 1px 0 #000;*/
}
/*.aui_default .art_move .aui_title { color:#FFF; }
.aui_default .art_focus .aui_title { background-color:#214FA3; }*/
.aui_default .aui_close {
	/*padding: 0;*/
	top: 6px;
	right: 6px;
	width: 16px;
	height: 16px;
	line-height: 100px;
	/*text-align: center;
	color: #FFF!important;
	text-decoration: none;
	border: 1px solid #3A6EA5;*/
	overflow: hidden;
	background-position: -80px -16px;
}
.aui_default .art_focus .aui_close { /*border:1px solid #214FA3;*/ }
.aui_default .aui_close:hover/*, .aui_default .aui_close:active, .aui_default .aui_close:focus*/ { background-position: -128px -16px;
	/*text-decoration: none;
	background-color: #771C35;
	border: 1px solid #000;*/
}
.aui_default .aui_close:active { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.aui_default .aui_content { color:#666; }
.aui_default .art_focus .aui_content { color:#000; }
.aui_default .aui_loading_tip { color:#808080; }
.aui_default .aui_buttons_wrap { background-color:#F6F6F6; border-top:1px solid #EBEBEB; border-bottom:1px solid #CCC; -moz-box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); -webkit-box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); }
.aui_default .aui_buttons_wrap button { padding:2px 4px; letter-spacing:2px; }
* html .aui_ie6_select_mask { left:-1px!important; top:-1px!important; }

.aui_default .aui_icon { width:32px; height:32px; margin:10px 0 10px 10px; background-image: url(Icons/tn-icons-32-sprite.png); background-repeat:no-repeat; }
.aui_default .art_alert { background-position:-64px 0px; }
.aui_default .art_succeed { background-position:-64px -144px;}
.aui_default .art_error { background-position:-64px -96px; }
.aui_default .art_confirm { margin-right:10px; width:48px; height:48px; background-position:-64px -48px; }
